flask==3.0.3
gunicorn==22.0.0
numpy==2.0.2
pandas==2.2.2
scikit-learn==1.5.2
joblib==1.4.2
xlrd==2.0.1
openpyxl==3.1.5
# Install catboost without dependencies check
--no-deps catboost==1.2.7
# Then manually add catboost dependencies
graphviz
matplotlib
plotly
scipy
six